<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="Content-Language" content="en" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<meta name='keywords' itemprop="keywords" content="@@keywords">
<meta property="og:description" name="description" itemprop="description" content="@@desc" />
<meta property="og:type" content="@@type" />
<meta property="og:url" content="@@url" />
<meta property="og:site_name" itemprop="alternativeHeadline" content="Simoolation" />
<meta property='og:title' itemprop="title name" content='@@title'>
<meta property='og:image' itemprop="image primaryImageOfPage" content="@@image" />

<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">


<!-- Theme CSS -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/Feather/feather.css">
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/prism.css">
<!--<link rel="stylesheet" href="@@webRoot/node_modules/flickity/dist/flickity.min.css">-->
<!--<link rel="stylesheet" href="@@webRoot/node_modules/flickity-fade/flickity-fade.css">-->
<!--<link rel="stylesheet" href="@@webRoot/node_modules/aos/dist/aos.css">-->
<!--<link rel="stylesheet" href="@@webRoot/node_modules/jarallax/dist/jarallax.css">-->
<!--<link rel="stylesheet" href="@@webRoot/node_modules/highlightjs/styles/vs2015.css">-->
<!--<link rel="stylesheet" href="@@webRoot/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css">-->
<!--<link rel="stylesheet" href="@@webRoot/assets/css/prism-tomorrow.css">
<link rel="stylesheet" href="@@webRoot/assets/css/prism-line-numbers.css" data-noprefix />-->
<!-- Map -->
<!--<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />-->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css">
<link rel="stylesheet" href="@@webRoot/assets/css/app.css">
<!-- endbuild -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126372256-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-126372256-1');
</script>
n
<script type="application/ld+json">
    {
    "@context": "http://schema.org/",
    "@type": "Organization",
    "url": "@@url",
    "logo": {
    "@type": "ImageObject",
    "url": "@@image",
    "width": 100,
    "height": 100
    },
    "name": "@@title",
    "description" : "@@desc",
    "sameAs": [
    "https://www.linkedin.com/in/simoolation/"
    ],
    "contactPoint": [
    {
    "@type": "ContactPoint",
    "contactType": "customer service",
    "areaServed": [
    "US",
    "CA"
    ],
    "availableLanguage": [
    "English"
    ]
    }
    ]
    }
</script>

<title>@@title</title>


<!-- Fullstory
================================================== -->
@@include("fullstory.html")