
code {
    overflow: scroll;
}

pre[class*="language-"] {
    position: relative;
    overflow: visible;
    border-radius: 5px;
}

pre .copy {
    content: "copy";
    padding: 2px 10px 0;
    position: absolute;
    top: 30px;
    right: 0;
    transform: translate(-10px, -90%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    background: #2d2d2d;
    cursor: pointer;
    transition: all 200ms ease;
}

    pre .copy:hover {
        transform: translate(-10px, -100%);
        color: dodgerblue;
    }


@media only screen and (min-width: 800px) {
    .col-count-5 {
        column-count: 5 !important;
    }
}


.btn-outline-dark-modified {
    color: #2B354F;
    border-color: #2B354F;
    background: #fefefe;
}

    .btn-outline-dark-modified:hover {
        color: #FFFFFF;
        background-color: #2B354F;
        border-color: #2B354F;
    }

    .btn-outline-dark-modified:focus, .btn-outline-dark-modified.focus {
        box-shadow: 0 0 0 0 rgba(43, 53, 79, 0.5);
    }

    .btn-outline-dark-modified.disabled, .btn-outline-dark-modified:disabled {
        color: #2B354F;
        background-color: transparent;
    }

    .btn-outline-dark-modified:not(:disabled):not(.disabled):active, .btn-outline-dark-modified:not(:disabled):not(.disabled).active,
    .show > .btn-outline-dark-modified.dropdown-toggle {
        color: #FFFFFF;
        background-color: #2B354F;
        border-color: #2B354F;
    }

        .btn-outline-dark-modified:not(:disabled):not(.disabled):active:focus, .btn-outline-dark-modified:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-dark-modified.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(43, 53, 79, 0.5);
        }

.text-white {
    color: rgba(255, 255, 255, 1) !important;
}

.display-5 {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1;
}

.display-5 {
    letter-spacing: -0.02em;
}

.display-5 {
    line-height: 1.1;
}

@media (max-width: 991.98px) {
    .display-5 {
        font-size: 1.8rem;
    }
}

.bg-gray-500 {
    background-color: #f3f5f9 !important;
}

@media (min-width: 992px) {
    .sidenav {
        top: 75px;
        height: calc(100vh - 75px);
    }
}


.area{
    background: black;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    position: fixed;
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

body {
    /* color:rgba(255, 255, 255, 1) !important; */
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


main {
    min-width: 300px;
    max-width: 500px;
    margin: auto;
}

p {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    /*color: white;*/
    /*//numbers*/
}



/*//odd number borders
*/
p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}  :before
{
    left: 100%;
    margin-left: -20px;
}


/*//even number borders*/
p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
}
:before
{
    right: 100%;
    margin-right: -20px;
}

/*//handle first and last*/
p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

p year {
    font-weight: 600;
    font-size: 1.2rem;
}

p name {
    font-weight: 600;
    font-size: 1.8rem;
}

p desc {
    font-size: 1rem;
}