<!-- BREADCRUMB
================================================== -->
<nav class="d-lg-none bg-gray-300">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col" style="padding-right: 0px; padding-left: 0px;">
                <!-- Breadcrumb -->
                <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
                         style="visibility:hidden; height:0px; width:0px">
                        <meta itemprop="position" content="1" />
                        <span class="text-white" itemscope itemtype="https://schema.org/WebPage" itemprop="item" itemid="https://0browser.com">
                            <span itemprop="name">
                                Home
                            </span>
                        </span>
                    </li>
                    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <meta itemprop="position" content="2" />
                        <button itemscope itemtype="https://schema.org/WebPage" itemprop="item" itemid="https://0browser.com/@@url1/index.html"
                              class="btn btn-link text white navbar-toggler" type="button" data-toggle="collapse"
                              data-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation"
                              style="cursor:pointer">
                            <span itemprop="name">
                                @@level1
                            </span>
                        </button>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" 
                        itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
                         style="visibility:hidden; height:0px; width:0px">
                        <meta itemprop="position" content="3" />
                        <span class="text-white" itemscope itemtype="https://schema.org/WebPage" itemprop="item" itemid="https://0browser.com/@@url1/@@url2">
                            <span itemprop="name">
                                @@level2
                            </span>
                        </span>
                    </li>
                </ol>

            </div>
            <div class="col-auto">

                <!-- Toggler -->
                <!--<div class="navbar-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" 
                            data-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>-->

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</nav>