<nav class="navbar navbar-expand-lg @@classList" 
style="padding: 1rem 20px; background: linear-gradient(to right, black, black);">
    @@if(type=="boxed"){<div class="container" style="display: flex; justify-content: center;">
        }

        <!-- Brand -->
        <a class="navbar-brand" href="@@webRoot/index.html">
            <img src="@@webRoot/assets/img/brand.svg" class=""
                 alt="simoolation-navbad" style="width: 10rem; height: 1.2rem !important; display: block; margin-left: auto; margin-right: auto; width: 100vw; ">
        </a>

        <!-- Toggler -->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" style="padding:0 !important">
            <span class="navbar-toggler-icon"></span>
        </button>-->

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>

            <!-- Navigation -->
            <ul class="navbar-nav ml-auto">

                <!--<li class="nav-item dropdown">
        <a class="nav-link" href="#pricing">
            How It Works
        </a>
    </li>-->
                <!--<li class="nav-item dropdown">
                    <a class="nav-link" href="@@webRoot/docs/index.html" alt="Documentation for how to use 0Browser">
                        Docs
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link" href="https://blogs.0browser.com/" alt="Blog Posts about Headless Browser, Headless Chrome, Headless Firefox and Automation at 0Browser">
                        Blogs
                    </a>
                </li>-->
                <!--<li class="nav-item dropdown">
                    <a class="nav-link" href="@@webRoot/#pricing">
                        Pricing
                    </a>
                </li>-->
            </ul>

            <!-- Button -->
            <!--<a class="navbar-btn btn btn-sm btn-primary lift ml-auto" alt="0Browser Dashboard, Access your account information"
               href="https://account.0browser.com/">
                Account
            </a>-->

        </div>

        @@if(type=="boxed"){
    </div>}
</nav>