<div class="collapse d-lg-block" id="sidenavCollapse">
    <div class="my-5 my-lg-5 px-lg-5">

        <!-- Heading -->
        <h6 class="text-uppercase font-weight-bold">
            Getting started
        </h6>

        <!-- Links -->
        <ul class="list mb-6">
            <li class="list-item">
                <a class="list-link" href="../docs/index.html">1. Get Started</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="../docs/get-token.html">2. Get API Key</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="../docs/capture-png.html">3. Capture PNG</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="../docs/capture-pdf.html">4. Capture PDF</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="../docs/capture-png-playwright.html">5. Capture PNG with Playwright</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="../docs/test-jest.html">6. Test with Jest</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="../docs/test-codeceptjs.html">7. Test with CodeceptJS</a>
            </li>
        </ul>

        <!-- Heading -->
        <h6 class="text-uppercase font-weight-bold">
            Frameworks & Libs
        </h6>

        <!-- Links -->
        <ul class="list mb-6">
            <li class="list-item">
                <a class="list-link" href="../docs/csharp-png.html">1. C# & .Net Core</a>
            </li>            
        </ul>

    </div>
</div>